@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

.footer{
    background: #E1C564;
}

.footer i{
    color: black;
    padding-bottom: 10px;
    padding-right: 15px;
    margin-top: 20px;
}

.footer i:hover{
    transition: .5s;
    color: #fbf8ee;
    transform: translateY(-3px) scale(1.1);
}

.footer p{
    font-size: 12px;
    line-height: 1.8;
}