@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800;900&family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:  'Open Sans', sans-serif, 'Roboto', '思源黑體', '微軟正黑體';
    background-color: #fbf8ee;
}

a{
    text-decoration: none;
}

.logo{
    background: #fbf8ee;
    display: flex;
    justify-content: space-between;
}

#l1{
    margin-top: 10px;
}

#menu-btn{
    cursor: pointer;
    margin-top: 20px;
}

nav ul{
    width: 90%;
    overflow: hidden;
    background-color: #E1C564;
    height: 280px;
    transition: 1s;
    border-top: 0;
    border-bottom: 0;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 10px 10px 0 black;
    text-align: center;
    filter: sepia(.5);
}


nav li{
    list-style: none;
    
}

nav ul li a{
    text-decoration: none;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 1.8;
    color: black;
    transition: .5s;
}

nav ul li a:hover{
    color:#fbf8ee;
    letter-spacing: 4px;
}

ul li a i{
    margin-top: 10px;
    padding-bottom: 5px;
    font-size: 30px;
    border-bottom: 3px dotted black;
    width: 100%;
    transition: .5s;
}

ul li a i:hover{
    text-shadow: 3px 3px 0 black;
}

section{
    text-align: center;
}

.top{
    position: relative;
    margin-top: 5%;
}

.top h1{
    font-size: 3.5rem;
    letter-spacing: .5rem;
    color: #E1C564;
    text-shadow: 5px 5px 0 black;
    
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    bottom: 0;
    margin: auto;
    transition: 1s;

    animation: homet linear 3s;
}

@keyframes homet{
    50%{
        color: #fbf8ee;
        transform: translateY(-5px);
        text-shadow: 0px 0px 0 black;
    }
}


h2{
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: .5rem;
    color: #E1C564;
}

/* 圖片區塊 */
.bw, .color, .film{
    position: relative;
    filter: sepia(.5);
}

.bw img, .color img, .film img{
    margin-top: 30px;
    border: .5rem solid black;
    border-radius: 5px;
    width: 70%;
    box-shadow: 10px 10px 0 #E1C564;
}

.bw h5, .color h5, .film h5{
    font-size: .5rem;
    font-family: 'Press Start 2P';
    font-weight: 400;
    letter-spacing: 3px;
    color: white;
    text-shadow: 2px 2px 0 #E1C564;
    
    position: absolute;
    left: 0;
    right: 0;
    top: 90px;
    bottom: 0;
    margin: auto;
}

.color h5{
    color: black;
}

.bw h5{
    top: 80px;
    line-height: 2.5;
}

.linear-wipe{
    background: linear-gradient(to right, #FFF 20%, #333 40%, #333 60%, #FFF 80%);
    background-size: 200% auto;

    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: shine 3s linear infinite;
}    

    @keyframes shine {
      to {
        background-position: 200% center;
      }
    }

#cloud{
    margin-top: 50px;
    width: 20%;
}

/* 影片區塊 */
.videosec{
    width: 80%;
    margin: 0 auto;
    transition: 1s;
    animation: bv linear 3s;
}

@keyframes bv{
    0%{
       opacity: 0;
    }
    100%{
      opacity: 1;
    }
}
h2{
    text-align: center;
    font-size: 3.5rem;
    margin-top: 10%;
    line-height: 1.5;
    color: black;
    text-shadow: .3rem .3rem #E1C564;
}

.border{
    margin: 0 auto;
    /* border: 10px solid black; */
    background: #E1C564;
    border-radius: 20px 20px 70px 20px;
    filter: sepia(.3) drop-shadow(15px 15px 0 black);
}

.innerborder{
    margin: 0 auto;
    text-align: center;
    margin-top: 10%;
}

.innerborder video{
    margin-top: 10%;
    width: 85%;
    border: 8px solid black;
    border-radius: 10px;
}
.videosec img{
    margin-top: 10px;
    background: #fbf8ee;
    border-radius: 10px;
    padding: 0 20px;
}

h3{
    margin: 0 auto;
    font-size: 2.5rem;
    letter-spacing: 3px;
    line-height: 1.6;
    font-family: 'Press Start 2P';
    animation: vt ease-in-out 2s infinite;
}

@keyframes vt{
    0%{
    
    }
    50%{
        color: #fbf8ee;
        letter-spacing: 5px;
    }
    100%{

    }
}

.videosec a{
    text-decoration: none;
    color: black;
}

.fbtn{
    width: 75%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    line-height: 1.6;
}

h4{
    font-size: 6rem;
    font-weight: 900;
    line-height: 1.2;
    color: #333;
}

.fbtn ul{
    display: flex;
    margin-top: 30px;
}

.fbtn li{
    list-style: none;
}

.fbtn #circle1, #circle2{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background: #333;
}

#circle1{   
    margin-right: 10px;
    margin-top: 20px;
}

.sq ul{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 30px;
}

.sq ul li{
    list-style: none;
    margin-right: 10px;
}

#sq1, #sq2{
    width: 30px;
    height: 10px;
    border-radius: 5px;
    background: #333;
}

/* shop */
.mshop{
    margin-bottom: 40px;
}
.mshop img{
    margin-top: 20px;
    border: 1rem solid black;
}
#dg{
    border: 0;
    margin: 0 auto;
    margin-top: 30px;
    filter: sepia(.8);
    /* box-shadow: 5px 5px 0 black; */
}

/* footer */

footer{
    background: #E1C564;
}


footer ul{
}

footer li{
    margin: 0 auto;
    display: flex;
    width: 50%;
    justify-content: space-between;
    list-style: none;
}

footer li a{
    color: black;
}

footer li a i{
    border: 0;
    font-size: 1.2rem;
}

footer p{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 10px;
    line-height: 1.6;
}

#cp{
    font-size: 10px;
    font-weight: 500;
    line-height: 1.8;
    font-family: 'Press Start 2P';
}

#cp2{
    padding-bottom: 10px;
}
