@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800;900&family=Press+Start+2P&display=swap');

body {
    font-family:  'Open Sans', sans-serif, 'Roboto', '思源黑體', '微軟正黑體';
    /* background-image: url('../img/background-image.png'); */
    margin: 0;
    padding: 0;
    background-color: #fbf8ee;
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}


/* -- HOME PAGE -- */
#nav1{
    color:#E1C564;
}

.index {
    margin: 0 auto;
    position: relative;
    width: 100vh;
}

.index-Logo {
    max-width: 20vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    animation: tada 5s ease-in-out;
}

@keyframes tada {
    0% {
        transform: scale(1);
    }
    10%,
    20% {
        transform: scale(0.9) rotate(-3deg);
    }
    30%,
    50%,
    70%,
    90% {
        transform: scale(1.1) rotate(3deg);
    }
    40%,
    60%,
    80% {
        transform: scale(1.1) rotate(-3deg);
    }
    100% {
        transform: scale(1) rotate(0);
    }
}
.bac {
    margin: 0 auto;
}

.bac img {
    width: 100vh;
    
    animation: bac 3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes bac {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

/* contact btn */
.contactbtn{
    text-align: center;
    margin: 30px auto;
    padding-top: 50px;
}

.contactbtn li a{
    text-decoration: none;
    color: white;
}

.contactbtn li a:hover{
    color: #E1C564;
}

.contactbtn h2{
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
    text-align: center;
    width: 100px;
    margin: 10px auto;
    line-height: 2;
    border-radius: 50px;
    background-color: black;
    transition: .5s;
}

/* decoration */
.deco{
    text-align: center;
    margin-bottom: 20px;
}
.deco #logo8{
    width: 200px;
    filter: sepia(0);
    margin-top: 10px;
}

/* contact btn */
.contactm{
    margin-top: 20px;
    margin-bottom: 30px;
}
.contactm ul{
    display: flex;
    justify-content: center;
}
.contactm li{
    list-style: none;
    margin-right: 30px;
}

.contactm img{
    height: 60px;
    filter: sepia(.8);
    border-radius: 60px;
}

.contactm a{
    font-size: 12px;
    font-family: 'Press Start 2P';
    background: black;
    color:white;
    width: 100px;
    height: 30px;
    padding: 10px;
    letter-spacing: 2px;
    border-radius: 5px 5px 20px 5px;
    box-shadow: 10px 10px 0 #E1C564;
    animation: cona ease-in-out 1.5s infinite;
}

@keyframes cona{
    50%{
        box-shadow: 10px 10px 0 #fbf8ee;
        filter: sepia(.5);
        color: #E1C564;
    }
}

.contactbtn h2:hover{
    transform: scale(1.1);
    letter-spacing: 2px;
    width: 120px;
    color: #E1C564;
}

/* FOTO PAGE */
.fototitle{
    text-align: center;   
}

.fototitle h1{
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 40px;
    letter-spacing: 1rem;
    color: #E1C564;
}

.fototitle p{
    width: 50%;
    border-bottom: 2px solid #caa728;
    border-radius: 2px;
    margin: 0 auto;
}

.FOTO-item{
    text-align: center;
    margin: 0;
    padding: 0;
}

.FOTO-item ul{
    display: flex;
}

.FOTO-item li h2{
    font-size: 2rem;
    font-weight: 600;
    line-height: 5;
    letter-spacing: .2rem;
    transition: 2s;
}

.FOTO-item li a{
    text-decoration: none;
    color: black;
}

.FOTO-item li a > h2:hover{
    color: #E1C564;
    letter-spacing: .5rem;
}

.FOTO-item img{
    width: 50%;
    transition: 1s;
    filter: grayscale(100);
    border: 30px solid black;
}

.FOTO-item img:hover{
    filter: grayscale(0);
    transform: scale(.8);
    box-shadow: 20px 20px 0 #E1C564;
}

.logo-gif2{
    text-align: center;
    margin: 30px auto;
}

.logo-gif2 img{
    width: 20%;
}
/*  B&W PAGE */
.bwtitle{
    display: flex;
    margin: 80px auto;
    align-items: center;
    justify-content: center;
}

.bwtitle a{
    text-align: center;
    text-decoration: none;
    color: black;
}

.bwtitle h3{
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: .5rem;
    transition: .5s;
}

.bwtitle h3:hover{  
    font-weight: 700;
    letter-spacing: .6rem;
}

.bwfoto{
    margin: 0 auto;
    text-align: center;
    margin: 0 auto;
    background:#E1C564;
    height: 500px;
}

.bwfoto video{
    height: 500px;
}

.bwlist1{
    display: inline;
    text-align: center;
}

.bwlist1 li{
    list-style: none;
}

.bwlist1 img{
    max-width: 250px;
    margin: 20px 20px;
    transition: 1s;
}

.bwlist1 img:hover{   
    width: 100%;
    text-align: center;
    background-color:#E1C564;
    transform: scale(1.1);
}

@keyframes bwimg{
    0%{

        opacity: .5;
        transform: scale(1);
    }
    50%{
        opacity: 1;
        transform: scale(0.8);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

.page{
    text-align: center;
    margin: 50px auto;
}

.page a{
    color: black;
    text-decoration: none; 
    letter-spacing: 10px;
    transition: .5s;
}

.page a:hover{
    color: #E1C564;
}

#pagec{
    color: #E1C564;
}

/* COLOR PAGE  */

.color-foto{
    margin: 0 auto;
    text-align: center;
    /* background-color: #E1C564; */
    height: 500px;
}

.cltitle{
    display: flex;
    margin: 80px auto;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.cltitle a{
    text-align: center;
    text-decoration: none;
    color: black;
}

.cltitle h3{
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: .5rem;
    transition: .5s;
}

.cltitle h3:hover{  
    font-weight: 700;
    letter-spacing: .6rem;
}

.color-foto img{
    height: 500px;
    animation: colorimg 2s ease-in;
    margin-bottom: 100px;
    border: 30px solid black;
}

.color-foto video{
    height: 500px;
    border: 30px solid black;
}

.color-foto video:hover{
    transition: 1s;
    filter: brightness(1.1);
}

@keyframes colorimg{
    0%{
        opacity: 0;
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}

@keyframes text1{
    0%{
       transform: scale(1);
       opacity: 0;
    }

    50%{
        opacity: .5;
        transform: scale(1.2);
    }

    100%{
        opacity: 1;
       transform: scale(1);
    }
}

.colorlist{
    display: inline;
    margin: 0 auto;
    text-align: center;
}

.colorlist img{
    height: 250px;
    transition: 1s;
}

.colorlist img:hover{
    filter: sepia(.5);
    transform: scale(1.1);
}

.colorlist #c1{
    margin: 150px 50px;
    margin-top: 0;
    margin-left: 0;
    animation: c1 3s ease-in;
}

@keyframes c1{
    0%{
        opacity: 0;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
    }
}

.colorlist #c2{
    animation: c2 3s ease-in;
}

@keyframes c2{
    0%{
        opacity: 0;
        transform: translateY(30px);
    }
    100%{
        opacity: 1;
    }
}

.colorlist #c3{
    margin: 150px 50px;
    margin-left: 0;
    animation: c3 4s ease-in;
}

@keyframes c3{
    0%{
        opacity: 0;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
    }
}

.colorlist #c4{
    animation: c4 4s ease-in;
}

@keyframes c4{
    0%{
        opacity: 0;
        transform: translateY(30px);
    }
    100%{
        opacity: 1;
    }
}

.colorlist #c5{
    margin: 150px 50px ;
    margin-left: 0;
    animation: c5 5s ease-in;
}
@keyframes c5{
    0%{
        opacity: 0;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
    }
}

.colorlist #c6{
    animation: c6 5s ease-in;
    margin-bottom: 50px;
}

@keyframes c6{
    0%{
        opacity: 0;
        transform: translateY(30px);
    }
    100%{
        opacity: 1;
    }
}

/* FILM PAGE */
.film-foto{
    margin-top: 50px;
    text-align: center;
    height: 500px;
    background: #E1C564;
}

.film-foto img{
    transition: 1s;
}

.film-foto img:hover{
    filter: sepia(.5);
}

.foto-type{
    text-align: left;
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 5px;
    padding-left: 10%;
}

.foto-type a{
    text-decoration: none;
    color: black;
}

.foto-type h3{
    transition: .5s;
}

.foto-type h3:hover{
    letter-spacing: 8px;
    font-weight: 800;
}

.foto-type ul{
    display: flex;
}

.foto-type li{
    list-style: none;
}

#fh{
    color: #E1C564;
}

#fh::before{
    content: "";
    margin: 0 20px;
    text-align: center;
    font-size: 14px;
    border-left: 2px solid black;
}

.film-foto img{
    height: 450px;
    margin: 25px;
    animation: filmimg 3s ease-in;
}

@keyframes filmimg{
    0%{
        opacity: 0;

    }
    100%{
        opacity: 1;
    }
}
.logo-gif{
    text-align: center;
    margin: 50px auto;
}

.logo-gif img{
    width: 20%;
}

.title h1{
    color: black;
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    letter-spacing: 5px;
    line-height: 100px;
    animation: title 3s ease infinite;
}

@keyframes title{
    0%{
        opacity: .5;
    }
    100%{
        color: #E1C564;
    }
}

.filmlist{
    margin: 0 auto;
}

.filmlist img{
    animation: f1 5s ease-in;
    transition: 1s;
    margin-bottom: 100px;
}

.filmlist #fimg2{
    margin: 0;
}

@keyframes f1{
    0%{
        opacity: 0;
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}

.filmlist img:hover{
    opacity: .8;
    transition: 2s;
    filter: sepia(.5);
}

#fimg2{
    animation: f2 7s ease-in;
}

@keyframes f2{
    0%{
        opacity: 0;
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}

.filmbtn{
    text-align: center;
    margin: 0 auto;
}

.filmbtn li{
    display: inline-flex;
}

.filmbtn a{
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: black;
    margin: 50px 10px;
}

.filmbtn a:hover{
    background-color: #E1C564;
}

/* VIDEO PAGE */

.video-title{
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 5px;
    margin-bottom: 60px;
    text-align: center;
    animation: vt 3s infinite ;
}

@keyframes vt{
    0%{
        color: black;
        letter-spacing: 5px;
    }
    50%{
        color: #E1C564;
        letter-spacing: 10px;
    }
    100%{
        color: black;
        letter-spacing: 5px;
    }
}

.vbac{
    margin:0 auto;
    text-align: center;
}

.vbac h2{
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .2rem;
    padding-top: 30px;
    margin-bottom: 60px;
    transition: 1s;
    color: black;
}

.vbac h2:hover{
    color: #E1C564;
    letter-spacing: .4rem;
}

.vbac a video{
   height: 300px;
   filter: grayscale(1);
   transition: 1s;
}

.vbac li a video:hover{
    filter: grayscale(0) drop-shadow(20px 20px 0 #E1C564);
    transform: scale(1.1);
}

.vbac ul li {
    padding-top: 50px;
    margin-bottom: 80px;
}

/* .vbac p{
    width: 30%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-size: 1rem;
    font-weight: 500;
    line-height: 2;
} */

/* SHOP page */
/* SHOP BANNER */
.shopban{
    display: flex;
    background-color: #E1C564;
    margin: 0 auto;
    text-align: center;
    font-size: 60px;
    animation: shbac 1s ease-in;
}

@keyframes shbac{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.shopban .bigtitle h1{
    font-size: 50%;
    font-weight: 600;
    margin: 50px 50px;
    line-height: 2;
    letter-spacing: 2px;
    animation: shoph1 2s linear;
    transition: .5s;
}

@keyframes shoph1{
    0%{
        transform: translateY(20px) scale(1.2);
        color: white;
    }

    100%{
        color: black;
    }
}

.shopban .bigtitle a{
    color: black;
    text-decoration: none;

}

.shopban .bigtitle a:hover{
    color: white;
}

.shopban .itempic img{
    margin: 30px 0;
    width: 80%;
    animation: itempic 2s ease-in;
}

@keyframes itempic{
    0%{
        opacity: 0;
        transform: scale(0.8) translateX(10px);
    }

    100%{
        opacity: 1;
        transform: scale(1);
    }
}

/* SHOP ITEM */
.nav-icon{
   margin-top: 40px;
}

.nav-icon ul{
    display: flex;
}

.nav-icon li a{
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
    letter-spacing: 1px;   
    color: black;
    font-weight: 600;
}

.nav-item #i1 a{
    color:#E1C564;
}

.nav-item #i2 a{
    color: #E1C564;
}

.nav-item #i3 a{
    color:#E1C564;
}

.nav-icon li a:hover{
    color: #E1C564;
    transition: 1s;
}

.nav-icon i{
    color: black;
    font-weight: 900;  
    font-size: 15px;
    margin: 0 10px;
}

.nav-icon i:hover{
    color: #E1C564;
    transition: 1s;
}

.nav-item{
    margin: 50px auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nav-item ul{
    display: flex;

}

.nav-item li{
    flex-grow: 1;
}

.nav-item li a{
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: black;   
}

.nav-item li a:hover{
    color: #E1C564;
    letter-spacing: 3px;
    transition: .5s;
}

.item{
   text-align: center; 
}

.item img{
    /* width: 50%; */
    height: 400px;
    border: 15px solid black;
    box-shadow: 3px 3px 3px #dbdbdb;
    transition: 1s;
}

.item img:hover{
    transform: translatey(-5px);
    box-shadow: 10px 10px #E1C564;
}

.itembtn{
    text-align: center;
    margin: 0 auto;
}

.itembtn li{
    display: inline-flex;
}

.itembtn a{
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: black;
    margin: 50px 10px;
}

.price{
    text-align: center;
    margin: 30px auto;
}

.price h3{
    color: white;
    background-color: black;
    border:0;
    width: 100px;
    height: 25px;
    padding: 5px 0;
    margin: 0 auto;
    border-radius: 20px;
}

.price h3:hover{
    transition: 1s;
    color:#E1C564;
    
}

.counter {
    width: 150px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter span {
    display: block;
    font-size: 14px;
    padding: 0 10px;
    cursor: pointer;
    color: black;
    user-select: none;
}

.counter input {
    width: 50px;
    border: 0;
    line-height: 30px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    background: black;
    color: #E1C564;
}

.addtocart{
    display: flex;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.addtocart a {
    margin: 0 20px;
    font-weight: bold;
    font-size: 14px;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: .5s;
}

.addtocart a:hover{
    color: black;
    transform: translateY(-4px);
}

.addtocart a > h2{
    font-size: 14px;
    text-align: center;
    background-color: #E1C564;
    box-shadow: 1px 1px 1px #caa728;
    width: 120px;
    line-height: 25px;
    margin: 0 auto;
    margin-top: 20px;
    transition: .3s ease;
}

#s1{
    background-color: #E1C564;
}

.sicon{
    /* border:10px solid black; */
    padding-top: 20px;
}

/* LOGIN PAGE */
.login{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(225,197,100,1.00),rgba(0,0,0,0.8)),url(../img/d.gif);
    background-position: center;
    /* background-size: cover; */
    position: absolute;
    filter: sepia(.5);
}

.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 5% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    transition: 1s;
}

.form-box:hover{
    transform: translateY(-5PX);
    filter: sepia(.5);
    box-shadow: 10px 10px #caa728;
}

.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    border-radius: 30px;
    display: flex;
}

.toggle-btn{
    padding: 10px 29px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btbtn{
    top: 0;
    left: 0;
    position: absolute;
    width: 100px;
    height: 100%;
    background: linear-gradient(to right, #E1C564, #caa728);
    border-radius: 30px;
    transition: .5s;
}

.social-icons{
    margin:  30px auto;
    text-align: center;
}

.social-icons img{
    width: 30px;
    margin:  0 15px;
    cursor: pointer;
    border-radius: 50%;
    transition: 1s;
}

.social-icons img:hover{
    transform: translate(-5px) scale(1.2);
}

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-filed{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 50%;
    padding:  10px 30px;
    letter-spacing: 1px;
    cursor: pointer;
    display: block;
    margin: auto;
    background:linear-gradient(to right, #E1C564, #caa728);
    border: 0;
    outline: none;
    border-radius: 30px;
    transition: .5s;
}

.submit-btn:hover{
  transform: scale(.9);
  color: #fbf8ee;
}

.chech-box{
    margin: 30px 10px 30px 0;
}

.chech-box span{
    color: #777;
    font-size: 10px;
    bottom: 68px;
    position: absolute;
}

#login1{
    left: 50px;
}

#REGISTER{
    left: 450px;
}

/* contact page */
.contact-section{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(225,197,100,1.00),rgba(0,0,0,0.5)),url(../img/c.gif);
    /* background-size: cover; */
    padding: 40px 0;
    filter: sepia(.5);
}


.contact-section h1{
    font-size: 3rem;
    font-weight: 700;
    font-family: 'press start 2p';
    letter-spacing: 5px;
    line-height: 3;
    text-align: center;
    color: black;
    text-shadow: 3px 3px 0 black;
}
/* 
.border{
    width: 350px;
    height: 10px;
    background: black;
    border-radius: 10px;
    margin: 20px auto;
} */

.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background:black;
    padding: 20px 40px;
    outline: none;
    color: #E1C564;
    transition: 0.5s;
}

.contact-form-text:hover{
    box-shadow: 0 0 4px 4px #E1C564;
}

textarea.contact-form-text{
    resize: none;
    height: 120px;
}

.contact-form-btn{
    font-weight: bold;
    letter-spacing: 2px;
    float: right;
    border: 0;
    background: #E1C564;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: .5s;
}

.contact-form-btn:hover{
    color: white;
    background-color: #caa728;
}

/* FOOTER */
footer{
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer{
    background: #E1C564;
}

.footer i{
    color: black;
    padding-bottom: 10px;
    padding-right: 15px;
    margin-top: 20px;
}

.footer i:hover{
    transition: .5s;
    color: #fbf8ee;
    transform: translateY(-3px) scale(1.1);
}

.footer-nav li{
    display: inline-flex;
}


.footer-nav li a{
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    padding-right: 15px;
    color: black;
    line-height: 3;
    letter-spacing: .5px;
    transition: .5s;
}

.footer-nav li a:hover{
    font-size: 1rem;
    color: #fbf8ee;
    letter-spacing: 2px;
}


.footer p{
    font-size: .5rem;
    line-height: 2;
}